apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: github-actions-runner-controller-leader-election
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: github-actions-runner-controller-leader-election
subjects:
  - kind: ServiceAccount
    name: github-actions-runner-controller
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: github-actions-runner-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: github-actions-runner-controller
subjects:
  - kind: ServiceAccount
    name: github-actions-runner-controller
