
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: runners.github-actions-runner.kaidotdev.github.io
spec:
  group: github-actions-runner.kaidotdev.github.io
  names:
    kind: Runner
    listKind: RunnerList
    plural: runners
    singular: runner
  scope: ""
  validation:
    openAPIV3Schema:
      description: Runner is the schema for the runners API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: RunnerSpec defines the desired state of Runner
          properties:
            image:
              description: Image using by self-hosted runner
              type: string
          required:
          - image
          type: object
        status:
          description: RunnerStatus defines the observed state of Runner
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
